blockquote {
  padding-left: 20px;
  margin-left: 0 !important;
  border-left: 8px solid #D1D5DB;
}

select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 1.2rem;
  max-width: 130px;
  text-overflow: ellipsis;
}

select::-ms-expand {
  display: none;
}
